* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

label {
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.prueba {
  background-color: aqua;
  text-align: center;
  color: white;
  font-size: 20px;
  border: solid 2px;
  width: fit-content;
}

.js-number {
  background-color: whitesmoke;
  width: fit-content;
  
}

input {
  background-color: whitesmoke;
  
}